
<footer class="footer">
  
  <nav class="navbar navbar-expand-sm"  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-code"></i>Jhon Sanchez R.<i class="fa-solid fa-code"></i></a>
  
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://gmail.com/"><i class="fa-solid fa-envelope"></i>srjhonas@gmail.com</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://github.com/srjhonas"><i class="fa-brands fa-github"></i> https://github.com/srjhonas</a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>

  </footer>