<br>
<div class="container">

  <h4 style="text-align: center">Panel Cliente</h4>

  <h5 hidden>{{dataService.idUsuario}}</h5>
<div class="container">
  <div class="row">
    <div class="col">
      <h5 style="text-align: center">{{dataService.nombreUsuario}}</h5>
    </div>
    <div class="col">

      <h5 style="text-align: center"><i class="fa-solid fa-envelope"></i>{{dataService.emailUsuario}}</h5>
    </div>
    <div class="col">

      <h5 style="text-align: center"><i class="fa-solid fa-phone"></i>{{dataService.telefonoUsuario}}</h5>
    </div>
  </div>
</div>

<button type="button" class="btn" (click)="GoRegistrarServicio()">Registrar Servicio</button>

<h3 style="text-align: center">Solicitudes de Servicio Registradas</h3>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th class="ColumnTitle" scope="col">ID Solicitud de Servicio</th>
      <th class="ColumnTitle" scope="col">Estado Solicitud</th>
      <th class="ColumnTitle" scope="col">Direccion</th>
      <th class="ColumnTitle" scope="col">Tipo Servicio</th>
      <th class="ColumnTitle" scope="col">Hacedor</th>
      <th class="ColumnTitle" scope="col">Ciudad Servicio</th>
      <th class="ColumnTitle" scope="col">Valor Ofrecido</th>
      <th class="ColumnTitle" scope="col">Observaciones</th>
      <th class="ColumnTitle" scope="col">Completada</th>
      <th class="ColumnTitle" scope="col">Cancelar</th>
    </tr>
  </thead>
  <tbody *ngFor="let solicitud of contenido">
    <tr>
      <td>{{solicitud[0]}}</td>
      <td>{{solicitud[1]}}</td>
      <td>{{solicitud[2]}}</td>
      <td>{{solicitud[3]}}</td>
      <td>{{solicitud[5]}} <br> {{solicitud[6]}} <br> {{solicitud[7]}}</td>
      <td>{{solicitud[8]}}</td>
      <td>{{solicitud[9]}}</td>
      <td>{{solicitud[10]}}</td>
        <td ><button type="button" class="btn btn-success">Marcar Finalizada</button></td>
        <td ><button type="button" class="btn btn-danger">Cancelar Servicio</button></td>
      
    </tr>

  </tbody>
</table>
</div>
