
<app-navbar></app-navbar>
<!-- <app-inicio></app-inicio>
<p>********************************************</p>
<app-registrocliente></app-registrocliente>
<p>********************************************</p>
<app-registrohacedor></app-registrohacedor>
<p>********************************************</p>
<app-solicitarservicio></app-solicitarservicio>
<p>********************************************</p>
<app-confighacedor></app-confighacedor>
<p>********************************************</p>
<app-homecliente></app-homecliente>
<p>********************************************</p>
<app-murohacedor></app-murohacedor>
 -->
<router-outlet></router-outlet>
<app-footer></app-footer>